//PRIMARY
//gradients
$lightMagenta: hsl(293, 100%, 63%);
$lightViolet: hsl(264, 100%, 61%);

//PRIMARY
// PHONE
$PaleViolet : hsl(276, 100%, 81%); //(sub-heading at the top of the app UI)
$ModerateViolet : hsl(276, 55%, 52%); // (chat on the left)
$DesaturatedDarkViolet : hsl(271, 15%, 43%); //(chat on the right)
$GrayishBlue : hsl(206, 6%, 79%); //(placeholder text)
$VeryDarkDesaturatedViolet : hsl(271, 36%, 24%); //(main heading)
$DarkGrayishViolet : hsl(270, 7%, 64%); //(paragraph)

//SECONDARY
$white: hsl(0, 0%, 100%);
$lightGrayishViolet: hsl(270, 20%, 96%); //(app background)
$veryDarkDesaturatedViolet : hsl(271, 36%, 24%); //(submit button background)
$veryLightMagenta : hsl(289, 100%, 72%); //(radio button outline)